<div id="mobile-content">
  <div id="header">
    <div class="introduction">
      Add a few photos to <br />{{model.name}}'s album
    </div>
    <!--
    <div class="message">
      {{model.book.name}}<br />{{model.book.created}}
    </div>
    -->
  </div>

  {{#if files}}

  <div id="added-image">
    <div id="image-area" class="box">
      {{#each file in files}}
        <div class="image-container">
          <img {{bind-attr src=file.serverUrl}} class="image" />
          {{#if file.isUploading}}
          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-info" {{bind-attr style="file.progressStyle"}}></div>
          </div>
          {{/if}}
        </div>
      {{/each}}
      <div class="image-container">
        <label id="btn-add">
        {{#view 'upload' id="upload"}}{{/view}}
        </label>
      </div>
    </div>
    {{#if isDone}}
    <p class="message">Success! Your photos were sent</p>
    <div id="friend_info">
      <p class="message">Who is sending these photos?</p>
      <table>
        <tr>
          <td width="40%">Name:</td>
          <td width="60%">{{ input width="100px" valueBinding=name }}</td>
        </tr>
        <tr>
          <td width="40%">Email (optional):</td>
          <td width="60%">{{ input width="100px" valueBinding=email }}</td>
        </tr>
        <tr>
          <td width="40%">Relationship:</td>
          <td width="60%">{{ input width="100px" valueBinding=relationship }}</td>
        </tr>
        {{#if message}}
        <tr>
          <td colspan="2" style="color: red">{{message}}</td>
        </tr>
        {{/if}}
        <tr>
          <td colspan="2">
            {{#view 'update' id="update"}}
            <input type="button" name="submit" value="Submit" class="submit">
            {{/view}}
          </td>
        </tr>
      </table>
    </div>
    {{else}}
    <div id="done">
      <button class="btn btn-default" {{action 'done'}}>Done</button>
    </div>
    {{/if}}
  </div>

  {{else}}
  <div id="asking-add-image" class="box">
    <label class="btn btn-default">
      <img src="/camera.png" class="small_img" style="margin-right: 6px"/>
      Add Photos
      {{#view 'upload' id="upload"}}{{/view}}
    </label>
  </div>
  {{/if}}

  {{#if isDone}}
  <div id="footer">
    <p>Install SimplePrints to view album</p>
    <div id="download-section">
      <a href="https://91410.api-03.com/serve?action=click&publisher_id=91410&site_id=37344&my_campaign=photos_from_friends&site_id_android=70888&site_id_web=70890" target="about">
        <img src="https://simpleprints-static-production.s3.amazonaws.com/images/simpleprints/turnable_book/simpleprints-icon.png" class="icon" />
      </a>
      <a href="https://91410.api-03.com/serve?action=click&publisher_id=91410&site_id=37344&my_campaign=photos_from_friends&site_id_android=70888&site_id_web=70890" target="about">
        <img src="https://simpleprints-static-production.s3.amazonaws.com/images/simpleprints/book/apple-store-icon.png" class="icon" />
      </a>
      <a href="https://91410.api-03.com/serve?action=click&publisher_id=91410&site_id=37344&my_campaign=photos_from_friends&site_id_android=70888&site_id_web=70890" target="about">
        <img src="https://simpleprints-static-production.s3.amazonaws.com/images/simpleprints/book/google-play-icon.png" class="icon" />
      </a>
    </div>
  </div>
  {{/if}}

</div>
